
  .options {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
  }

  .information {
    margin-top: 10px;
  }

  .information p {
    color: #ffffff;
  }

  .sidebar {
    width: 250px;
    background-color: #0378A6;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    font-family: Calibri, Arial, sans-serif;
  }

  .sidebar .information img {
    width: 50px;
  }

  .sidebar h2 {
    font-size: 2.4rem;
    margin: 0 0 10px;
  }
  
  .sidebar p {
    font-size: 0.9rem;
  }
  
  .sidebar nav a {
    display: block;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }

  .sidebar nav a:hover {
    background-color: #499EBF;
    padding-left: 10px;
    transition: padding 0.2s;
    border-radius: 10px;
  }
  
  .logout {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 0;
    font-size: 1.1rem;
  }
  
  .logout:hover {
    background-color: #499EBF;
    transition: padding 0.2s;
    border-radius: 10px;
  }